body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  background-color: #0d1117;
  color: #f5f5f5;
}

.container {
  max-width: 800px;
  margin: 3rem auto;
  padding: 2rem;
  background-color: #1a1f2e;
  border-radius: 15px;
  box-shadow: 0 0 15px rgba(255, 215, 0, 0.2);
  text-align: center;
}

h1 {
  font-family: 'Cinzel', serif;
  color: #E5D3A8;
  margin-bottom: 2rem;
}

label {
  display: block;
  margin-top: 1rem;
  font-weight: bold;
  color: #BC4841;
}

input {
  width: 80%;
  padding: 0.5rem;
  margin-top: 0.5rem;
  border-radius: 8px;
  border: none;
  background-color: #2c2f3a;
  color: #fff;
}

button {
  margin-top: 2rem;
  padding: 0.7rem 1.5rem;
  background-color: #BC4841;
  color: white;
  border: none;
  border-radius: 12px;
  cursor: pointer;
  font-weight: bold;
  font-family: 'Cinzel', serif;
  box-shadow: 0 0 10px rgba(139, 0, 0, 0.3);
}

button:hover {
  background-color: #d34f48;
}

.card-section {
  margin-top: 3rem;
  background-color: #16213e;
  padding: 1rem;
  border-radius: 12px;
  box-shadow: 0 0 10px #BC4841;
  font-size: 1.2rem;
  color: #00ffcc;
  font-family: 'Cinzel', serif;
}